[alias]
  co = checkout
  br = branch
  st = status
  cp = commit -a -m "minor"
  wip = commit -a -m "wip"
  pud = !git pull --rebase origin develop
  pum = !git pull --rebase origin main
  re = !git rebase -i $(git merge-base HEAD origin)
  md = merge origin/develop
  cr = !git push origin $(git rev-parse --abbrev-ref HEAD)
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[color]
  branch = auto
  diff = auto
  status = auto

[branch]
  autosetupmerge = true

[core]
  excludesfile = ~/.globalgitignore
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[user]
	email = spencer+github@3box.io
	name = Spencer T Brody
