[user]
  name = Spencer T Brody
  email = spencer@mongodb.com

[alias]
  co = checkout
  br = branch
  st = status
  cp = commit -a -m "cp"
  pu = pull --rebase origin master

[color]
  branch = auto
  diff = auto
  status = auto

[branch]
  autosetuprebase = always
  autosetupmerge = true

[core]
  excludesfile = ~/.globalgitignore
[init]
	templatedir = ~/.git_template
[push]
	default = simple
