[user]
  name = Spencer T Brody
  email = spencer.t.brody@gmail.com

[alias]
  co = checkout
  br = branch
  st = status
  cp = commit -a -m "cp"
  pu = pull --rebase origin master
  re = !git rebase -i $(git merge-base HEAD origin)
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[color]
  branch = auto
  diff = auto
  status = auto

[branch]
  autosetuprebase = always
  autosetupmerge = true

[core]
  excludesfile = ~/.globalgitignore
[init]
	templatedir = ~/.git_template
[push]
	default = simple
